.todos__main-container {
    width:100%;
    height: 100%;
    text-align: center;
    font-weight: 500;
}

.todos__list-container {
    margin: 0 auto;
    width: 50%;
    margin-top: 20vh;
    color: $black;
    height: auto;
    text-align: left;
    padding-bottom: 10px;

}

.todo__completed {
    text-decoration: line-through;
    color: $grey;
}

.todo__item {
    position: relative;
    border-top: 1px dotted $grey;
    display: flex;
    align-content: stretch;
}

.todo__toggle-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: auto;
    text-align: center;
    &:hover {
        cursor: pointer;
    }
}

.todo__toggle-circle, .todo__toggle-circle-complete  {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid $grey;
}

.todo__toggle-circle-complete {
    border: 2px solid $green;
}

.todo__check {
    transform: rotate(45deg);
    border-width: 7px;
    height: 24px;
    width: 12px;
    margin-top: 2px;
    border-color: $green;
    border-bottom: 7px solid $green;
    border-right: 7px solid $green;
}

.todo__text {
    padding: 15px 0px 15px 15px;
    font-size: 2em;
}

.todo__add-container {
    border-top: 1px dotted $grey;
    border-bottom: 1px dotted $grey;
    display: flex;
    align-content: stretch;
}

form.todo__add-form {
    width: 100%;
}

input.todo__add-input {
    width: 100%;
    height: 50px;
    font-size: 2em;
    outline: none;
    border: transparent;
    padding-left: 30px;
}

.todo__remove-todo {
    position: absolute;
    justify-content: center;
    right: 5px;
    top: 30%;
    padding: 5px 8px;
    background: $red;
    color: $white;
    border: .5px solid $black;
    border-radius: 3px;
    z-index: 10px;
    &:hover {
        cursor: pointer;
    }
}
